/* Responsive Design */

/* For Mobile Devices */
@media screen and (max-width:576px) {
    header{
        height: 100vh;
        background-position:bottom center;
    }
    nav{
        flex-direction: column;
    }
    .logo-container{
        justify-content: center;
        margin: 0;
    }
    .menu-container{
        flex-direction: column;
    }
    .menu-container ul {
        flex-direction: column;
    }
    .menu-container ul li{
        margin: 10px 0px;
        text-align: center;
    }
    .banner-container{
        justify-content: center;
        flex-direction: column-reverse;
        height: 75%;
    }
    .banner-img-container{
        width: 100%;
    }
    .banner-img-container img{
   max-width: 100%;
   height: 300px;
   /* object-fit: cover; */
}
    .banner-content{
        margin-left: 10%;
        margin-right: 10%;
        width: 100%;
    }
    .banner-content h3{
        font-size: 30px;
    }
    .banner-content h1{
        font-size: 80px;
    }
    .btn{
        padding:15px 25px ;
    }
    #gamerSection{
        height: 650px;
    }
    .gamer-container{
        flex-direction: column;
        justify-content: center;
    }
    .gamer-img{
        max-width: 100%;
    }
    .gamer-txt-content{
        max-width: 100%;
        text-align: center;
    }
    .gamer-txt-content h2{
        font-size: 40px;
    }
    .gamer-desc{
        font-size: 15px;
    }
    .gamer-txt-content h4{
        line-height:normal;
    }
    .games-box-container{
        justify-content: center;
    }
    .instant-play-img{
        width: 100%;
    }
    .instant-play-container{
        justify-content: center;
    }
    .instant-play-content{
        width: 100%;
        text-align: center;
    }
    .instant-play-container{
        flex-direction: column;
    }
    .anniversarry-img{
        width: 70%;
    }
    .img-badge{
        width: 40%;
        top: 137px;
        right: 100px;
    }
    .instant-play-content p{
        line-height: normal;
    }
    .instant-play-content h1{
        font-size: 40px;
        line-height: normal;
    }
  
}

/* For Tablet Devices */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        height: 100vh;
        background-position:left center;
        /* background-size: cover; */
        /* height:70vh; */
    }
    .logo-container{
        margin-left: 5%;
    }
    .menu-container{
        margin-right: 5%;
    }
    nav{
        flex-direction: column;
    }
    .logo-container{
        width: 100%;
        text-align: center;
        justify-content: center;
        margin: 10px 0;
    }
    .menu-container{
        margin: 5px 0;
    }
    #gamerSection{
        height: 450px;
    }
    .games-box-container{
        justify-content: center;
    }
    .gamer-txt-content h2{
        font-size: 40px;
    }
    .gamer-desc{
        font-size: 15px;
    }
    .gamer-txt-content h4{
        line-height:normal;
    }
    .instant-play-img{
        width: 100%;
       
    }
    .instant-play-container{
        justify-content: center;
    }
    .instant-play-content{
        width: 100%;
        text-align: center;
    }
    .instant-play-container{
        flex-direction: column;
    }
    .anniversarry-img{
        width: 70%;
        height: auto;
        margin-top: -150px;
    }
    .img-badge{
        width: 40%;
        top: 230px;
    }
    .instant-play-content p{
        line-height: normal;
    }
    .instant-play-content h1{
        font-size: 40px;
        line-height: normal;
    }
    .banner-content h3{
        font-size: 40px;
    }
    .banner-content h1{
        font-size: 80px;
    }
    .btn{
        padding: 15px 30px;
    }
    #instantPlay{
        height: 1050px;
    }
}